<nav class="navbar">
  <div class="container navbar-content">
    <a routerLink="/" class="brand gradient-text">LaraAng <span style="font-weight: 300;">Workspace</span></a>
    
    <div class="nav-links">
      <ng-container *ngIf="authService.isAuthenticated$ | async; else unauth">
        <a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a>
        <button (click)="logout()" class="btn btn-secondary m-l">Logout</button>
      </ng-container>
      
      <ng-template #unauth>
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
        <a routerLink="/register" class="btn btn-primary m-l">Get Started</a>
      </ng-template>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
